# Etapa 3: Análisis de datos utilizando SQL


## Objetivos

En esta práctica subiremos los datos a una base de datos SQL y realizaremos diferentes queries para obtener información sobre los datos

In [1]:
!pip install sqlalchemy==1.4.6 --quiet
import pandas as pd
import numpy as np
!pip install PyMySQL --quiet
import pymysql as pymsql
!pip install mysql-connector --quiet
import mysql.connector
from sqlalchemy import create_engine
!pip install sqlalchemy-utils --quiet
from sqlalchemy_utils import database_exists, create_database
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.5/1.5 MB 2.8 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 43.8/43.8 KB 413.1 kB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.9/11.9 MB 26.6 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
  Building wheel for mysql-connector (setup.py) ... done
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 92.5/92.5 KB 736.7 kB/s eta 0:00:00

dependencias para instalar sql en python


### Tarea 1: Subir los datos a la base de datos:

Primero cargamos el archivo de datos `dataset_part_2.csv`.

In [2]:
df_path = "dataset_part_2.csv"
df = pd.read_csv(df_path)

In [17]:
#Rellena la siguiente variable con tu nombre y apellido (Todo junto y sin espacios). 
nombreBD = 'jaybethreyes'
linkConexion = 'mysql+mysqlconnector://alumno:385bd4cf713a8a36@13.39.109.107/' + nombreBD
#Establecemos la conexión
engine = create_engine(linkConexion)

In [18]:
if not database_exists(engine.url):
    create_database(engine.url)

In [19]:
# Añadir el dataframe a sql SPACEXTBL usando la función to_sql()
df.to_sql("SPACEXTBL" , engine)

-1

In [20]:
query = "select * from SPACEXTBL;"
df  = pd.read_sql(query, con = engine )
df

,index,FlightNumber,Date,BoosterVersion,PayloadMass,Payload,Orbit,LaunchSite,LandingOutcome,Flights,GridFins,Reused,Legs,LandingPad,Block,Customers,Mission_Outcome,ReusedCount,Serial,Longitude,Latitude,Class
0,0,1,2010-06-04,Falcon 9,6123.547647,Dragon Qualification Unit,LEO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,SpaceX,1,0,B0003,-80.577366,28.561857,0
1,1,2,2012-05-22,Falcon 9,525.000000,COTS Demo Flight 2,LEO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,NASA(COTS),1,0,B0005,-80.577366,28.561857,0
2,2,3,2013-03-01,Falcon 9,677.000000,CRS-2,ISS,CCSFS SLC 40,None None,1,0,0,0,None,1.0,NASA (CRS),1,0,B0007,-80.577366,28.561857,0
3,3,4,2013-09-29,Falcon 9,500.000000,CASSIOPE,PO,VAFB SLC 4E,False Ocean,1,0,0,0,None,1.0,MDA,1,0,B1003,-120.610829,34.632093,0
4,4,5,2013-12-03,Falcon 9,3170.000000,SES-8,GTO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,SES,1,0,B1004,-80.577366,28.561857,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,85,86,2020-09-03,Falcon 9,15600.000000,Starlink-11,VLEO,KSC LC 39A,True ASDS,2,1,1,1,5e9e3032383ecb6bb234e7ca,5.0,SpaceX,1,12,B1060,-80.603956,28.608058,1
86,86,87,2020-10-06,Falcon 9,15600.000000,Starlink-12,VLEO,KSC LC 39A,True ASDS,3,1,1,1,5e9e3032383ecb6bb234e7ca,5.0,SpaceX,1,13,B1058,-80.603956,28.608058,1
87,87,88,2020-10-18,Falcon 9,15600.000000,Starlink-13,VLEO,KSC LC 39A,True ASDS,6,1,1,1,5e9e3032383ecb6bb234e7ca,5.0,SpaceX,1,12,B1051,-80.603956,28.608058,1
88,88,89,2020-10-24,Falcon 9,15600.000000,Starlink-14,VLEO,CCSFS SLC 40,True ASDS,3,1,1,1,5e9e3033383ecbb9e534e7cc,5.0,SpaceX,1,12,B1060,-80.577366,28.561857,1
89,89,90,2020-11-05,Falcon 9,3681.000000,GPS III SV04 (Sacagawea),MEO,CCSFS SLC 40,True ASDS,1,1,0,1,5e9e3032383ecb6bb234e7ca,5.0,United States Space Force,1,8,B1062,-80.577366,28.561857,1

## Tarea 2: Queries con SQL

### Ejercicio 1

##### Muestra las diferentes plataformas de lanzamiento:

In [ ]:
#Rellena la variable query con tu consulta
query = """    """
df  = pd.read_sql(query, con = engine )
df

SELECT
LaunchSite

FROM

### Ejercicio 2

##### Muestra 5 lanzamientos cuya plataforma empiece por 'CCS'

In [21]:
queries = "SELECT LaunchSite FROM `SPACEXTBL` WHERE LaunchSite LIKE ('CCS%')"
df  = pd.read_sql(queries, con = engine )
df

      LaunchSite
0   CCSFS SLC 40
1   CCSFS SLC 40
2   CCSFS SLC 40
3   CCSFS SLC 40
4   CCSFS SLC 40
5   CCSFS SLC 40
6   CCSFS SLC 40
7   CCSFS SLC 40
8   CCSFS SLC 40
9   CCSFS SLC 40
10  CCSFS SLC 40
11  CCSFS SLC 40
12  CCSFS SLC 40
13  CCSFS SLC 40
14  CCSFS SLC 40
15  CCSFS SLC 40
16  CCSFS SLC 40
17  CCSFS SLC 40
18  CCSFS SLC 40
19  CCSFS SLC 40
20  CCSFS SLC 40
21  CCSFS SLC 40
22  CCSFS SLC 40
23  CCSFS SLC 40
24  CCSFS SLC 40
25  CCSFS SLC 40
26  CCSFS SLC 40
27  CCSFS SLC 40
28  CCSFS SLC 40
29  CCSFS SLC 40
30  CCSFS SLC 40
31  CCSFS SLC 40
32  CCSFS SLC 40
33  CCSFS SLC 40
34  CCSFS SLC 40
35  CCSFS SLC 40
36  CCSFS SLC 40
37  CCSFS SLC 40
38  CCSFS SLC 40
39  CCSFS SLC 40
40  CCSFS SLC 40
41  CCSFS SLC 40
42  CCSFS SLC 40
43  CCSFS SLC 40
44  CCSFS SLC 40
45  CCSFS SLC 40
46  CCSFS SLC 40
47  CCSFS SLC 40
48  CCSFS SLC 40
49  CCSFS SLC 40
50  CCSFS SLC 40
51  CCSFS SLC 40
52  CCSFS SLC 40
53  CCSFS SLC 40
54  CCSFS SLC 40

### Ejercicio 3

##### Mustra el la masa total transportada por los lanzamientos realizados donde el cliente es NASA (CRS)

In [22]:
queries = "SELECT SUM(`PayloadMass`) FROM `SPACEXTBL` WHERE `Customers` = 'NASA (CRS)'"
df  = pd.read_sql(queries, con = engine )
df

   SUM(`PayloadMass`)
0             47094.7

### Ejercicio 4

##### Muestra la masa media tranportada por lanzamientos con serie que comienza por B1

In [25]:
queries = "SELECT AVG(`PayloadMass`) FROM `SPACEXTBL` WHERE Serial LIKE ('B1%')"
df  = pd.read_sql(queries, con = engine )
df

   AVG(`PayloadMass`)
0         6250.502765

### Ejercicio 5

##### Muestra la fecha donde se realizo el primer aterrizaje exitoso sobre terreno (TRUE RTLS)

*Pista:Utiliza la función min*

In [28]:
queries = "SELECT min(Date) FROM `SPACEXTBL` WHERE LandingOutcome = ('True RTLS')"
df  = pd.read_sql(queries, con = engine )
df

    min(Date)
0  2015-12-22

### Ejercicio 6

##### Muestra las series de los cohetes que aterrizaron sobre portaviones (TRUE ASDS) con una masa entre 4000 y 6000

In [31]:
queries = "SELECT SERIAL FROM `SPACEXTBL` WHERE LandingOutcome = ('True ASDS') BETWEEN 4000 AND 6000"
df  = pd.read_sql(queries, con = engine )
df

   SERIAL
0   B0003
1   B0005
2   B0007
3   B1003
4   B1004
..    ...
85  B1060
86  B1058
87  B1051
88  B1060
89  B1062

[90 rows x 1 columns]

### Ejercicio 7

##### Muestra el numero de lanzamientos que completaron su mision correctamente y aquellos que fallaron

In [36]:
queries = "SELECT COUNT(Mission_Outcome), Mission_Outcome FROM SPACEXTBL GROUP BY Mission_Outcome"

df  = pd.read_sql(queries, con = engine )
df

   COUNT(Mission_Outcome)  Mission_Outcome
0                       2                0
1                      88                1

### Ejercicio 8

##### Muestra las series de los cohetes que transportaron la masa máxima

In [41]:
queries = "SELECT MAX(PayloadMass) FROM SPACEXTBL"

df  = pd.read_sql(queries, con = engine )
df

   MAX(PayloadMass)
0           15600.0

In [43]:
queries = "SELECT SERIAL FROM SPACEXTBL WHERE PayloadMass = (SELECT MAX(PayloadMass) FROM SPACEXTBL)"

df  = pd.read_sql(queries, con = engine )
df

   SERIAL
0   B1048
1   B1049
2   B1051
3   B1056
4   B1048
5   B1051
6   B1049
7   B1059
8   B1049
9   B1060
10  B1058
11  B1051
12  B1060

In [39]:
queries = "SELECT SERIAL, MAX(PayloadMass)  FROM SPACEXTBL GROUP BY SERIAL ORDER BY 2"

df  = pd.read_sql(queries, con = engine )
df

   SERIAL  MAX(PayloadMass)
0   B1038        475.000000
1   B1003        500.000000
2   B0005        525.000000
3   B1017        553.000000
4   B1013        570.000000
5   B0007        677.000000
6   B1007       1316.000000
7   B1015       1898.000000
8   B1019       2034.000000
9   B1010       2216.000000
10  B1025       2257.000000
11  B1006       2296.000000
12  B1012       2395.000000
13  B1045       2410.000000
14  B1018       2477.000000
15  B1050       2573.000000
16  B1035       2708.000000
17  B1039       2910.000000
18  B1023       3100.000000
19  B1004       3170.000000
20  B1005       3325.000000
21  B1062       3681.000000
22  B1042       3700.000000
23  B1054       4400.000000
24  B1011       4428.000000
25  B1008       4535.000000
26  B1026       4600.000000
27  B1022       4696.000000
28  B1016       4707.000000
29  B1031       5200.000000
30  B1020       5271.000000
31  B1021       5300.000000
32  B1040       5383.850000
33  B1028       5500.000000
34  B1030       5600.000000
35  B1034       6070.000000
36  B1044       6092.000000
37  B0003       6123.547647
38  B1032       6123.547647
39  B1043       6123.547647
40  B1046       6123.547647
41  B1037       6761.000000
42  B1047       7076.000000
43  B1029       9600.000000
44  B1036       9600.000000
45  B1041       9600.000000
46  B1048      15600.000000
47  B1049      15600.000000
48  B1051      15600.000000
49  B1056      15600.000000
50  B1059      15600.000000
51  B1058      15600.000000
52  B1060      15600.000000

### Ejercicio 9

##### Muestra los el resultados del aterrizaje, la serie del cohete y las plataforma de lanzamiento de aquellos lanzamientos fallidos o no intentados en el año 2015

### Ejercicio 10

##### Muestra los resultados y la frecuencia de estos resultados entre 2010-06-04 y 2017-03-20 ordenados en orden descendiente según la frecuencia